* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.dmBox {
    position: relative;
}

.img1 {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 44px;
    left: 50px;
}

#txt1 {
    border: 1px solid black;
    height: 20px;
    line-height: 20px;
    color: black;
    padding: 10px 15px;
    border-radius: 25px;
    margin-left: 47px;
    z-index: 1;
    position: absolute;
    top: 56px;
    left: 19px;
    padding-left: 46px;
    /*这是第一个弹幕*/
}


/* .tupian2 {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: url(../img/bf562641c931cc41.jpg) -64px -107px no-repeat;
    z-index: 20;
    display: inline-block;
    position: absolute;
    top: 157px;
    left: 219px;
}

.by2 {
    border: 1px solid black;
    width: 40%;
    height: 20px;
    line-height: 20px;
    color: black;
    display: inline;
    padding: 10px 15px;
    border-radius: 25px;
    margin-left: 47px;
    z-index: 1;
    position: relative;
    top: 150px;
    left: 190px;
    padding-left: 46px;
}


/*这是第二个弹幕*/


/* .tupian3 {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: url(../img/bf562641c931cc41.jpg) -64px -107px no-repeat;
    z-index: 20;
    display: inline-block;
    position: absolute;
    top: 231px;
    left: 330px;
}

.by3 {
    border: 1px solid black;
    width: 40%;
    height: 20px;
    line-height: 20px;
    color: black;
    display: inline;
    padding: 10px 15px;
    border-radius: 25px;
    margin-left: 47px;
    z-index: 1;
    position: relative;
    top: 200px;
    left: 300px;
    padding-left: 46px;
}


这是第三个弹幕 */