
      #q{
            background-image: url("../img/tx/1.jpg");
            background-size: 100%;
            width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid lightcoral;
            position:absolute;
            top:80px;
            left:50px;         
      }
      #w{
         background-image: url("../img/tx/2.jpg");
         background-size: 100%;
            width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
             position:absolute;
             top:80px;
             left:280px;
        }
      #e{
         background-image: url("../img/tx/3.jpg");
         background-size: 100%;
         width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
             position:absolute;
             top:80px;
             left:510px;
        }
      #r{
         background-image: url("../img/tx/4.jpg");
         background-size: 100%;
         width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
             position:absolute;
             top:80px;
             left:740px;
        }
      #t{
         background-image: url("../img/tx/5.jpg");
         background-size: 100%;
         width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
             position:absolute;
             top:80px;
             left:970px;
        }
      #y{
         background-image: url("../img/tx/6.jpg");
         background-size: 100%;
         width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
             position:absolute;
             top:80px;
             left:1200px;
        }     
      #u{
         background-image: url("../img/tx/7.jpg");
         background-size: 100%;
         width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
             position:absolute;
             top:320px;
             left:50px;
        }
      #i{
         background-image: url("../img/tx/8.jpg");
         background-size: 100%;
            width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
            position:absolute;
            top:320px;
            left:280px;         
        }
      #o{         
            background-image: url("../img/tx/9.jpg");
            background-size: 100%;
            width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
            position:absolute;
            top:320px;
            left:510px;         
        }
      #p{   
            background-image: url("../img/tx/10.jpg");
            background-size: 100%;
            width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
            position:absolute;
            top:320px;
            left:740px;         
        }
      #qw{
            background-image: url("../img/tx/11.jpg");
            background-size: 100%;
            width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
            position:absolute;
            top:320px;
            left:970px;         
        }
      #qe{  
            background-image: url("../img/tx/12.jpg");
            background-size: 100%;
            width: 150px;
            height: 150px; 
            border-radius: 50%;
            border: 3px solid  lightcoral;
            position:absolute;
            top:320px;
            left:1200px;         
         }
 
      .biankuang{
             width: 1450px;
             height: 580px; 
             background-color:rgba(0,0,0,0.6);
             box-shadow:black 0px 0px 30px 5px;
             position:absolute;
             top:80px;
             left:50px;
        }
        

     
    
    
    