input
{
    font-size: 25px;
    color: white;
    border-top:0px ;
    border-left:0px ;
    border-right:0px ;
    border-bottom:0px ;
    background-color:transparent;
}
.tp{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 115px;
    left: 1130px;
}
.tp1{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 320px;
    left: 145px;
}
.tp2{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 320px;
    left: 380px;
}
.tp3{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 320px;
    left: 620px;
}
.tp4{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 320px;
    left: 840px;
}
.tp5{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 320px;
    left: 1075px;
}
.tp6{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 320px;
    left: 1310px;
}
.tp7{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 560px;
    left: 145px;
}
.tp8{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 560px;
    left: 380px;
}
.tp9{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 560px;
    left: 620px;
}
.tp10{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 560px;
    left: 840px;
}
.tp11{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 560px;
    left: 1075px;
}
.tp12{
    width: 10px;
    height: 10px;
    position:absolute;
    top: 560px;
    left: 1310px;
}
