.zhizao{
    color:white;
    font-family: "黑体";
    font-size:40px;
    position:absolute;
    top:25px;
    left:35px;
}
.HI{

    color:balck;
    font-family: "微软雅黑";
    font-size:200%;
    font-weight:bold;
    position:absolute;
    left:600px;
    top:20px;
    width:50%;
}
.canyu{
    color:white;
    font-family: "微软雅黑";
    font-size:30px;
    font-weight:bold;
    position:absolute;
    left:1150px;
    top:25px;
}
.paiming{
    color:white;
    font-family: "微软雅黑";
    font-size:30px;
    font-weight:bold;
    border: 3px solid yellow;
    width: 80px;
    height: 40px;
    position:absolute;
    left:1300px;
    top:25px;
}
#a{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:320px;
    left:155px;
     
    }
#s{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:320px;
    left:390px; 
  
    }
#d{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:320px;
    left:625px; 
    width:10%;    
    }
#f{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:320px;
    left:850px;   
    width:10%;  
    }
#g{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:320px;
    left:1080px; 
    width:10%;    
    }
#h{
   
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:320px;
    left:1315px; 
    width:10%;    
    }
#j{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:560px;
    left:155px; 
    width:50%;    
    }
#k{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:560px;
    left:390px; 
    width:50%;    
    }
#l{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:560px;
    left:625px; 
    width:10%;    
    }
#as{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:560px;
    left:850px;  
    width:10%;   
    }
#ad{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:560px;
    left:1080px;  
    width:10%;   
    }
#af{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    position:absolute;
    top:560px;
    left:1315px; 
    width:10%;    
    }